<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="./Assets/duffle.svg" type="image/x-icon">
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/usuarioForm.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Cadastro de Usuário</title>
	<!-- Link para o Bootstrap CSS -->
	
</head>

<body>
	<!--Início da navbar-->
	<header>
		<nav class="navbar navbar-expand-lg text-white border-left p-2"
			style="background:linear-gradient(90deg, #de6060 20%, #ab0f0f 100%);">
			<a class="navbar-brand text-white p-2 pt-2" th:href=" @{/}">
				<!-- <img src="" alt="logo" width="45" height="40" class="d-inline-block align-text-top">-->
				- SuperViagem -
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item ">
						<a class="nav-link text-white p-3" th:href="@{/login}">Login</a>
					</li>
					<li class="nav-items">
						<a class="nav-link active text-white p-3" th:href="@{/usuarios}">Cadastro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white p-3" th:href="@{/viagens}">Destinos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white p-3" th:href="@{/reservas}">Reservas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white p-3" th:href="@{/promocoes}">Promoções</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white p-3" th:href="@{/contato}">Contato</a>
					</li>
				</ul>
			</div>

		</nav>
	</header>
	<!--Fim da navbar-->
	

	<div class="container content pt-3 mt-3">
		<h1 style="text-align: center;padding-top: 90px;font-weight: normal; color: #d2b48c;
        ">Cadastro:</h1>
		<form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
			
			<div class="form-group">
				<label for="nome" style="color: #d2b48c;">Nome:</label>
				<input type="text" id="nome" placeholder="Nome" class="form-control" th:field="*{nome}" />
			</div>
			
			<div class="form-group">
				<label for="telefone" style="color: #d2b48c;">Telefone</label>
				<input type="text" id="telefone" placeholder="+00 (00) 00000-0000" class="form-control" th:field="*{telefone}" />
			</div>
			
			<div class="form-group">
				<label for="nome_usuario" style="color: #d2b48c;">Usuário:</label>
				<input type="text" id="nome_usuario" placeholder="Nome" class="form-control" th:field="*{nome_usuario}" />
			</div>
			
			
			<div class="form-group">
				<label for="senha" style="color: #d2b48c;">Senha:</label>
				<input type="password" maxlength="2000" placeholder="********" id="senha" class="form-control" th:field="*{senha}" />
			</div>
			
			<div class="form-group">
				<label for="email" style="color: #d2b48c;">Email:</label>
				<input type="text" maxlength="2000" placeholder="@name.exemple" id="email" class="form-control" th:field="*{email}" />
			</div>
			
			
			<button type="submit" class="botaoc btn btn-primary">Criar conta</button>
		</form>
	</div>
	
	
<!--Início do footer-->
	<footer class="footer pt-3">
		<p class="text-center">&copy; 2023 SuperViagem. Todos os direitos reservados.</p>
	</footer>
	<!--Fim do footer-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

</body>
</html>