.botaoc{
	background-color: #ab0f0f !important;
	border: #ab0f0f !important;
}

.botaoc:hover{
    background-color: #de6060 !important;
 }

 .botaoe{
	 background-color:#b39363 !important;
	border: #b39363 !important;
 }
 
 .botaoe:hover{
    background-color:  #d2b48c !important;
 
 }